<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>联系我们</title>
		<link rel="stylesheet" type="text/css" href="http://localhost/MallProject/io/i/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="http://localhost/MallProject/io/i/css/main.css"/>
		<script src="http://localhost/MallProject/io/i/js/jquery-1.12.2.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://localhost/MallProject/io/i/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="wrap c" id="wrap">
			<!--导航栏部分-->
			<div class="header">
				<div class="logo head-nav"><img src="http://localhost/MallProject/io/i/img/logo.png"/></div>
				<div class="home head-nav" id="home">
					<p class="nav-word">
						<img src="http://localhost/MallProject/io/i/img/home-gray.png" class="head-img"/>
						<span>&nbsp;&nbsp;首&nbsp;&nbsp;页</span>
					</p>
					<em></em>
				</div>
				<div class="mall head-nav" id="mall">
					<p class="nav-word">
						<img src="http://localhost/MallProject/io/i/img/cart-gray-icon.png" class="head-img"/>
						<span>&nbsp;&nbsp;商&nbsp;&nbsp;城</span>
					</p>
					<em></em>
				</div>
				<div class="contact head-nav" id="contact">
					<p class="nav-word">
						<img src="http://localhost/MallProject/io/i/img/contact-yeloow.png" class="head-img head-img-last"/>
						<span>&nbsp;&nbsp;联系我们</span>
					</p>
					<em class="head-line"></em>
				</div>
			</div>
			<!--导航栏部分结束-->
			
			<!--中间内容部分-->
			<div class="main c">
				<div class="hxgs c">
					<div class="hxgs-img">
						<img src="http://localhost/MallProject/io/i/img/hxgs.jpg" alt="" />
					</div>
					<div class="hxgs-word">
						<p class="hxgs-introduce">
							和煦公社服务平台由金暨大数据提供技术及商务营运。通过全新积分、全新平台、全新玩法、目的是让会员感受到沐浴在和煦阳光下的感觉。
						</p>
					</div>
				</div>
				
				<div class="yuedong c gap-margin-top">
					<p class="yudong-introduce">悦动圈智能手边<br />是广州金暨信息于悦动天下联合推向市场</p>
					<div class="yuedong-imgs c">
						<div class="jinji-img">
							<img src="http://localhost/MallProject/io/i/img/logo.png"/>
						</div>
						<div class="yuedong-img">
							<img src="http://localhost/MallProject/io/i/img/yudongquan-logo.png"/>
						</div>
					</div>
					
				</div>
				
				<div class="further-msg gap-margin-top">
					<img src="http://localhost/MallProject/io/i/img/further-msg.png"/>
				</div>
				
				<div class="joinus gap-margin-top">
					<img src="http://localhost/MallProject/io/i/img/jionus.png"/>
				</div>
				
				<div class="qcode gap-margin-top">
					<div class="qcode-wrap">
						<p class="qcode-pjoin">行随心动，加入我们吧</p>
						<div class="qcode-contact c gap-margin-top">
							<img src="http://localhost/MallProject/io/i/img/qcode-contact.png"/>
						</div>
						<p class="qcode-word">微信扫面下方二维码-->关注和煦公社-->智能手表</p>
						<div class="qcode-img">
							<img src="http://localhost/MallProject/io/i/img/hxgs-code.png"/>
						</div>
					</div>
				</div>
			</div>
			<!--中间内容部分结束-->
			
			
			<!--底部-->
			<div class="footer">
					已到当前页面的底部，看看其他页面吧
			</div>
			<!--底部内容结束-->
		</div>
		<script src="http://localhost/MallProject/io/i/js/main.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$("#home").click(function(){
				window.location.href = "<{url c="main" a="index"}>";
			});
			$("#mall").click(function(){
				window.location.href = "<{url c="main" a="mall"}>";
			});
		</script>
	</body>
	</body>
</html>
